## handy shortcuts
alias h="history"
alias l="ls -al"
alias untar='tar -zxvf '
alias c='clear'
alias j='jobs -l'

## shorten cd 
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'

## auto adding arguments
alias ping='ping -c 5'

## execute as sudo standard
alias reboot='sudo reboot'
alias apt='sudo apt'
alias apt-get='sudo apt'

## Colorize the grep command output for ease of use (good for log files)##
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'